<launch>
  <arg name="map_file" default="$(find historia)/Real/maps/map.yaml"/>

  <arg name="move_forward_only" default="true"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- ekf -->
  <!-- <include file="$(find historia)/Real/launch/localization_robot.launch"/> -->
  <!-- <include file="$(find robot_localization)/launch/dual_ekf_navsat_example.launch"/> -->

  <!-- move_base -->
  <include file="$(find historia)/Real/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find historia)/Real/rviz/nav.rviz"/>
</launch>